/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.header {
  background-color: #cee3f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Fixed height for header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.header .logo img {
  height: 40px;
}

.header .user-info {
  font-size: 14px;
}

.main-container {
  display: flex;
  margin-top: 20px;
}

.sidebar {
  width: 20%;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
  height: calc(100vh - 80px); /* Full height minus header and margin */
  overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sidebar-icon {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #0079d3;
  font-size: 14px;
}

/* More Button Styling */
.more-button {
  margin-top: 10px;
  text-align: left;
}

.more-button a {
  text-decoration: none;
  color: #0079d3;
  font-size: 14px;
  padding: 5px 10px;
  display: inline-block;
}

.more-button a:hover {
  background-color: #0079d3;
  color: #ffffff;
}

/* Submit Box Styling */
.submit-box {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f8ff; /* Light blue background */
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}

.submit-box .submit-link {
  text-decoration: none;
  color: #0079d3;
  padding: 4px;
  display: inline-block;
}

.submit-box p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.create-box {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f8ff; /* Light blue background */
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}

.create-box .create-link {
  text-decoration: none;
  color: #0079d3;
  padding: 4px;
  display: inline-block;
}

.create-box p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.content {
  width: 75%;
  margin-left: 5%;
}

.post {
  display: flex;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.votes {
  width: 50px;
  text-align: center;
  font-size: 18px;
  color: #ff4500;
}

.post-details {
  margin-left: 10px;
}

.post-details h3 {
  margin: 0;
  font-size: 16px;
}

.post-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.post-details a {
  text-decoration: none;
  color: #0079d3;
}
